.style-tabs {
  color: #000000a6;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
}

.ant-tabs-tab-active .style-tabs {
  color: #1890ff;
}
