@media screen and (min-width: 1010px) {
  .content-style, main {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 938px;
    height: 100%;
    opacity: 1;
    column-gap: 36px;
    margin-left: 36px;
  }
}

@media screen and (min-width: 420px) and (max-width: 1010px) {
  .content-style, main {
    display: grid;
    width: 420px;
    height: 100%;
    opacity: 1;
    column-gap: 36px;
  }
}

